div.dropdown {
  color: #FD7922;
    float: right;
    height: 17px;
    margin: 3px -22px 0 0;
    position: relative;
    text-align: left;
    width: 209px;
}
div.submenu
{
background: #000000;
position: absolute;
top: -12px;
left: -20px;
z-index: 100;
width: 179px;
display: none;
margin-left: 10px;
padding: 40px 0 5px;
border-radius: 6px;
box-shadow: 0 2px 8px rgba(0, 0, 0, 0.45);
}

.dropdown  li a { 
    color: #FFFFFF;
    display: block;
    font-family: arial;
    font-weight: bold;
    padding: 6px 15px;
  cursor: pointer;
text-decoration:none;
}

.dropdown li a:hover{
    background:#155FB0;
    color: #FFFFFF;
    text-decoration: none; 
}
a.account {
font-size: 11px;
line-height: 16px;
color: white;
position: absolute;
z-index: 110;
display: block;
/*padding: 11px 0 0 20px;*/
padding-left: 5px;
padding-top: 7px;
height: 28px;
width: 182px;
margin: -11px 0 0 -10px;
text-decoration: none;
background: url(../icons/arrow.png) 164px 17px no-repeat;
cursor:pointer;
}
a.account2 {
font-size: 11px;
line-height: 16px;
color: #FD7922;
position: absolute;
z-index: 110;
display: block;
/*padding: 11px 0 0 20px;*/
padding-left: 5px;
padding-top: 7px;
height: 28px;
width: 182px;
margin: -11px 0 0 -10px;
text-decoration: none;
background: url(../icons/arrow.png) 178px 17px no-repeat;
cursor:pointer;
}

.root
{
list-style:none;
margin:0px;
padding:0px;
font-size: 11px;
padding: 11px 0 0 0px;
border-top:1px solid #dedede; 
}